body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
 
  
  }
  
  .container {
     
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  