body{
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  scroll-behavior: smooth;

}

html{
    scroll-behavior: smooth;
}

.home{
    color: yellow;
}

/* .banner1, .banner2, .banner3, .banner4 {
    

    
} */

body{
    
    overflow-x:hidden;
    overflow-y: scroll;
    
}
.web-icon{
    width: 30px;
    height: 30px;
}

.slide{
    width: 120%;
    object-fit: cover;
    height: 120%;
    position: absolute;
    filter: brightness(90%);
    margin-left: -10%;
    background-size: cover;
    
    
}

.part1{
    width: 100%;
    /* background-color: aquamarine; */
    height: 600px;
    position: relative;
}
#banner1{
    width: 100;
    margin-right: 5px;
}
.banner1{
    animation: slide1 13s linear infinite ;
}
.banner2{
    animation: slide2 13s linear infinite ;
}
.banner3{
    animation: slide3 13s linear infinite ;
}
.banner4{
    animation: slide4 13s linear infinite ;
}
@keyframes slide1{
    0% {
        visibility: visible;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes slide2{ 
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide3{ 
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide4{ 
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

/*Start Search bar css-------------------------------------------------------------------*/


/* search bar */
/* Create a column layout with Flexbox */
.search-input {
    display: flex;
   margin-bottom: -100px;
  }
  
  /* Left column (menu) */
  .left {
    flex: 35%;
    padding: 15px 0;
  }
  
  .left h2 {
    padding-left: 8px;
    text-decoration: none;
    text-align: start;
  }
  
 
  
  /* Style the search box */
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    box-shadow: 0px 0px 10px black;
  }
 
  
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }
  .img{
      width: 80px;
      height: 50px;
  }




.search-box{
    height: 500px;
    z-index: 1;
    background-color: transparent;
    position:absolute;
    margin-top: 10px;
    overflow: hidden;
  
    overflow-y: scroll;
    border-radius: 10px;
    
   
}
.search-box::-webkit-scrollbar{
    display: none;
}


.search-bar-li{
  width: 700px;
}



/* End search bar css--------------------------------------------------------*/


li{
    font-size:medium;
    text-indent: 10px;
}

.text{
    color: white;
}
/* .nav-item:hover{
    background-color: yellow;
    color: blueviolet;
} */

/* nav tag */
#nav{
	position: relative;

    margin-left: -1%;
    
    /* min-block-size: 10%; */
    margin-top: 4.5%;
    
}
#nav-flight{
    padding-left: 20%;
}


.nav-ul{
    background: transparent;
    /* background-color: rgb(0, 0, 0); */
}
/* .tab-pane{
    color: white;
} */
#nav{
    width: 110%;
}
#tablist{
    background-color: none;
    padding-left: 10%;
}
#flight, #hotel, #rent{
    position: relative;
    color: white;
}
.img-text{
    text-transform: uppercase;
    font-size: 150%;
    margin-bottom:-0.5% ;
    margin-top: -25%;
}

.img-text-h{
    text-transform: capitalize;
    font-size: 250%;
}



/* services tag */
.service-img{
    width:30%;
    
    
}    
.service-img-flight{
    background-color: white;
    border-radius: 30%;
}

/* services tag */

/* below css use for image align into the home page */
.img-dec{
    width: 340px;
    object-fit: cover;
    height: 250px;
    position: absolute;
    /* background-image: url(images/tour-1.jpg); */
    background-size: cover;
    
}
/* .flote-div{
    width: 350px;                                           -0-------------------------------------------------------0-0-0-0-0-0-00-0-0-0-0-0-0-0
} */
.div-dec{
    margin-top: 60px;
    margin-bottom: 50px ;
}

/* .img-dec-2{
    padding-top: -50px;
} */


.hover-image {
    transition: transform 0.5s ease-in-out;
  }
  .hover-image:hover {
    transform: translateY(-150px);
    
  }


.div-text{
    padding-top: 120px;
    margin-top: -65px;
    width: 348px;
    text-align: start;
    line-height: 1px;
    text-indent: 20px;
    
}

.star{
    width: 15px;
    margin-bottom: 5px;
    height: 15px;

}

.div-a{
    text-decoration: none;
    
}

.div-a-p-1{
    font-size: xx-large;
}
.div-a-p-2{
    font-size: medium;
    margin-top: 25px;
}




/* upper css use for image align into the home page */


/* recent blog images */



.blog-image:hover{
    transform: scale(0.95);
    
  
  
    color: rgb(255, 155, 6);
}



/* discount start section */

.discount {
    min-width:200px ;
    margin-left: -29px;
    margin-right: -60px;
    height: 650px;
    padding: 10%;
    background-color: #ffffff7b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-image: url(images/cover-img-4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* -webkit-backdrop-filter: brightness(10%); */
     /* -webkit-backdrop-filter: blur(50px); */
     filter: brightness(80%);
    left: 0;
    right: 0;
    font-family: Arial, sans-serif;
    
    
  }
 
  .dis-h1-45 {
   
    font-size: 36px;
    color: yellow;
    font-family: cursive;
    font-weight: bold;
    margin-top: 0;
  }
.dis-h1-off{
    color: white;
    font-family: cursive;
}


#dis-h1-off{
    margin-top: -69px;
}


marquee{
    font-size: 80px;
    font-family:'Times New Roman', Times, serif;
    transform: rotate(90deg);
    text-transform: uppercase;
    margin-left: 75%;
    margin-top: 20px;
    letter-spacing: 10px;
    overflow: hidden;
    /* text-shadow: 2px 1px 5px rgb(31, 184, 255) ; */
    -webkit-text-stroke-width: 1px;
    color: transparent;
    -webkit-text-stroke-color: white;
}
.dis-marquee{
    width: 650px;
    height: auto;
    margin-top: 119px;
}

.dis-text-p{
    font-size: small;
}

.discount-part2{
    position: relative;
    z-index: 1;
}

.discount-part2-image-1{
    width: 450px;
    height: 300px;
    border-radius: 20px;
    margin-top: -100px;
}



.discount-part2-image-2{
    width: 450px;
    border-radius: 20px;
    margin-top: -430px;
    margin-left: 50px;
}

.discount-part2-image-3{
    width: 450px;
    
    border-radius: 20px;
    margin-top: -600px;
    margin-left: 100px;
}

#discount-main{
    margin-top: -120px;
    /* backdrop-filter: blur(50px); */
    /* -webkit-backdrop-filter: blur(50px); */
}
/* discount end section */



/* login popup */
.login-forget-pass{
    text-align: end;
    font-size: x-small;
    margin-top: -20px;
    color: rgb(34, 86, 230);
}

.login-signup{
    text-align: center;
    font-size: small;
    margin-top: -30px;
}
.box-logo{
    width: 150px;
    height: 50px;
    margin-left: 137px;
    margin-top: 10px;
    display: flex;
}

.ss{
    margin-left: 20px;
    width: 30px;
    
    border-radius: 50px;
}
.ss:hover{
    transform: scale(1.3);
    transition: 2s;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
   
}

.hotel-card{
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.hotel-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.562), 2px 2px 40px 0px white;
}


#user-container{
    padding: 100px;
    
    
}

.user-container-image{
    width: 150px;
    height: 150px;
    margin-bottom: 180px;
    
    border-radius: 50%;
}

/* Start most Popular States */

/* .state-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.562), 2px 2px 40px 0px white;

} */






.hover-image-1 {
    transition: transform 1s ease-in-out;
  }
  .hover-image-1:hover {
    transform: translateX(250px);
    
  }

  .hover-image-2 {
    transition: transform 1s ease-in-out;
  }
  .hover-image-2:hover {
    transform: translateY(200px);
    
  }

  .hover-image-3 {
    transition: transform 1s ease-in-out;
  }
  .hover-image-3:hover {
    transform: translateY(-150px);
    
  }

  .hover-image-4 {
    transition: transform 1s ease-in-out;
  }
  .hover-image-4:hover {
    transform: translateX(-255px);
    
  }
  .img-state-1{
    width: 300px;
    object-fit: cover;
    height: 250px;
    position: absolute;
    /* background-image: url(images/tour-1.jpg); */
    background-size: cover;
    border-radius: 0px 50px 0px 50px;
}

.img-state-2{
    width: 300px;
    object-fit: cover;
    height: 250px;
    position: absolute;
    /* background-image: url(images/tour-1.jpg); */
    background-size: cover;
    border-radius:50px 0px 50px 0px ;
    margin-left: -30px;
}

.img-state-3{
    width: 300px;
    object-fit: cover;
    height: 250px;
    position: absolute;
    /* background-image: url(images/tour-1.jpg); */
    background-size: cover;
    border-radius: 50px 0px 50px 0px;
}

.img-state-4{
    width: 300px;
    object-fit: cover;
    height: 250px;
    position: absolute;
    /* background-image: url(images/tour-1.jpg); */
    background-size: cover;
    border-radius: 0px 50px 0px 50px;
    margin-left: -30px;
}

.div-state{
    margin-top: 60px;
    margin-bottom: 95px ;
}

.ul-delhi{
    background-color: aqua;
    height: 0px; list-style: none;
    text-decoration: none;
    font-size: xx-large;
}

.ul-delhi:hover{
    transform: scale(1.1);
    text-decoration: underline rgb(0, 0, 0);
    
    color: #ff0000;
    transition: 1s;
    
}
 




/* End most Popular states */







/* Sign Up for a Newsletter */

.signup-newsletter {
    min-width:200px ;
    
    width: 120%;
    margin-left: -35px;
    margin-right: -60px;
    height: 390px;
    padding: 10%;
    background-color: #ffffff7b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-image: url(images/news-3.jpg);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* -webkit-backdrop-filter: brightness(10%); */
     /* -webkit-backdrop-filter: blur(50px); */
     filter: brightness(90%);
    
    font-family: Arial, sans-serif;
    
  }
  
  .h1-h4{
    color: white;
  }


#news-div-email{
    background-color: transparent;
    border: 1px solid rgb(206, 151, 151);
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    height: 55px;
    width: 100%;
    color: orange;
    font-size: larger;
    text-align: end;
}

#news-div-email:focus{
    border-width: 2px;
    box-shadow: 0px 0px 10px rgba(206,151,151,0.5);
    outline: none;
}

#news-div-email::placeholder{
    color: rgb(206, 151, 151);
    
    text-align: end;
}

#news-div-submit{
    background-image: linear-gradient(135deg, rgb(248,191,191), rgb(238,140,140));
    box-shadow: 2px 5px 10px rgba(206, 151, 151,0.5);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    margin-left: -470px;
    transition: opacity 0.2s ease;
    height: 55px;
    width: 100px;
}

#news-div-submit:hover{
    opacity: 0.6;
}


#footer {
  margin-left: -25px;
  width: 120%;
  background-color: black;
    
  }

  #footer h6{
    font-size: larger;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px lightskyblue;
  }
  #footer p{
    text-align: justify;
    font-size: small;
  }

  #search-form {
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: -150px;
    margin-bottom:170px ;
    
    
}

 #search-form {
    border-radius: 50%;
    color: red;
   
 }
 #search-form input{
    background-color:rgba(0, 0, 0, 0.3);
    color: rgb(245, 184, 3);
    padding: 10px;
    
 }

.search-form{
    text-align: center;
    
    
}

.news-logo{
    width: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 60px;
    margin-right: 5px;
}

.news-logo:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 1px rgb(255, 183, 0);
}























































































































/* Start floating icon */


  .floating-icon {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .floating-icon a {
    display: block;
    text-align: center;
  }

.floating-icon-1{
    position: fixed;
    top: 96%;
    left: 96%;
    transform: translateY(-50%);
    display: block;
    
}
/* End floating icon */


body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa ;
}

.first_col {
    background-color: white;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 550px;
    left: 155px;
    top: 171px;
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
}

.row-last {
    width: 60% !important;
    position: relative !important;
    left: 350px;
    top: 50px;
    height: 200px;
    padding-bottom: 100px !important;
    background-color: #c1b688;
    border-radius: 20px;

}

.btn-primary {
    background-color: #c1b688;
    border: #c1b688;

}

.btn-primary:hover {
    background-color: black !important;
}

.form-control {
    height: 52px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #f2e52d;
}
.form-control[type=text]:focus {
border: 2px solid #555;
}
@media only screen and (max-width: 600px) {
    .first_col {
        position: initial;
        left: 0 !important;
    }

    .sec_col {
        order: 1 !important;
    }

    .row-last {
        left: 0 !important;
        width: 100% !important;
        height: 500px !important;
        top: 0 !important;
    }
}





body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa ;
}

.first_col {
    background-color: white;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 550px;
    left: 155px;
    top: 171px;
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
}

.row-last {
    width: 60% !important;
    position: relative !important;
    left: 350px;
    top: 50px;
    height: 200px;
    padding-bottom: 100px !important;
    background-color: #c1b688;
    border-radius: 20px;

}

.btn-primary {
    background-color: #c1b688;
    border: #c1b688;

}

.btn-primary:hover {
    background-color: black !important;
}

.form-control {
    height: 52px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #f2e52d;
}
.form-control[type=text]:focus {
border: 2px solid #555;
}
@media only screen and (max-width: 600px) {
    .first_col {
        position: initial;
        left: 0 !important;
    }

    .sec_col {
        order: 1 !important;
    }

    .row-last {
        left: 0 !important;
        width: 100% !important;
        height: 500px !important;
        top: 0 !important;
    }
}