<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kodaikanal - The Princess of Hill Stations</title>
  <!-- Bootstrap CSS --><link rel="stylesheet" href="cssfile/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Kodaikanal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#places">Places to Visit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section id="about" class="py-5">
      <div class="container">
        <h2 class="display-4">Kodaikanal - The Princess of Hill Stations</h2>
        <div class="row">
          <div class="col-lg-6">
            <img src="pages/images/kodai.jpg" alt="Kodaikanal Lake" class="img-fluid">
          </div>
          <div class="col-lg-6">
            <p>Kodaikanal is a picturesque hill station nestled in the Western Ghats of Tamil Nadu, India. Known as the "Princess of Hill Stations," it offers breathtaking views, pleasant weather, and lush green landscapes.</p>
            <p>Explore the beautiful Kodaikanal Lake, take a stroll in the serene Bryant Park, and visit attractions like Coaker's Walk and Pillar Rocks. The town is also known for its charming viewpoints, waterfalls, and tea plantations.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="places" class="bg-light py-5">
      <div class="container">
        <h2 class="display-4 text-center">Popular Places to Visit in Kodaikanal</h2>
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card">
              <img src="pages/images/kodai1.jpg" alt="Coaker's Walk" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Coaker's Walk</h5>
                <p class="card-text">Enjoy a leisurely walk along this scenic pathway that offers panoramic views of the surrounding valleys and mountains.</p>
                <a href="https://www.google.com/maps?q=Coaker's+Walk+Kodaikanal" class="btn btn-primary" target="_blank">Location</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card">
              <img src="pages/images/kodai2.JPG" alt="Pillar Rocks" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Pillar Rocks</h5>
                <p class="card-text">Marvel at the three towering granite rocks that stand vertically, providing a majestic view of the surrounding landscapes.</p>
                <a href="https://www.google.com/maps?q=Pillar+Rocks+Kodaikanal" class="btn btn-primary" target="_blank">Location</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card">
              <img src="pages/images/kodai3.jpg" alt="Bryant Park" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Bryant Park</h5>
                <p class="card-text">Relax in this well-maintained botanical garden featuring a wide variety of flowers, plants, and a serene lake.</p>
                <a href="https://www.google.com/maps?q=Bryant+Park+Kodaikanal" class="btn btn-primary" target="_blank">Location</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- ========== Start Sign Up for a Newsletter ========== -->
    
    <div class=" signup-newsletter flex-nowrap my-5" style=" background-image: url(images/news-3.jpg); background-size:cover; width:120%;">
     
      <h1 class="h1-h4">Sign Up for a Newsletter</h1>
      <h4 class="h1-h4">Sign up for our mailing list to get latest updates and offers.</h4>
      <div id="news-div" class="col-md-4">
        
        <form action="" method="get">
          <input id="news-div-email" type="email" placeholder="Enter Your Email" required="">
          <input id="news-div-submit" type="submit">
        </form>
      </div>
    
        
    </div>
    
    
    <!-- ========== End Sign Up for a Newsletter ========== -->
    
    
    
    
    
    
    <footer>
    
      <div id="footer" class="container-fluid " style="margin-top: -150px; padding: 100px; color: white;">
        <div class="row m-5"  style="padding-top: 100px;">
          <div class="col-md-3">
            <h6>Mrs Culture Agency</h6>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
            <a href="https://www.facebook.com/mrscultureoffical/"><img class="news-logo" src="Logo/facebook (1).png" alt=""></a>
            <a href="#"><img class="news-logo" src="Logo/twitter.png" alt=""></a>
            <a href="https://www.instagram.com/mrs._culture/"><img class="news-logo" src="Logo/instagram (1).png" alt=""></a>
            <a href="https://www.youtube.com/@m_rs_culture"><img class="news-logo" src="Logo/youtube (1).png" alt=""></a>
          </div>
          
            
          
          <div class="col-md-1" style="font-size: smaller;">
            <h6>Book Now</h6>
            <a style="text-decoration: none; color:white" href="flight"><div>Flight</div></a>
            <a style="text-decoration: none; color:white"  href="hotel"><div>Hotels</div></a>
            <a style="text-decoration: none; color:white"  href=""><div>Tour</div></a>
            <a style="text-decoration: none; color:white"  href=""><div>Car Rent</div></a>
            <a style="text-decoration: none; color:white"  href="destination"><div>Beach & Resorts</div></a>
            <a style="text-decoration: none; color:white"  href="cruises"><div>Cruises</div></a>
          </div>
        
          <div class="col-md-1" style="font-size: smaller;">
            <h6>Top Deals</h6>
            <a style="text-decoration: none; color:white"  href=""><div>Edina Hotel</div></a>
            <a style="text-decoration: none; color:white"  href=""><div>Quality Suites</div></a>
            <a style="text-decoration: none; color:white"  href=""><div>The Hotel Zephyr</div></a>
            <a style="text-decoration: none; color:white"  href=""><div>Da Vinci Villa</div></a>
            <a style="text-decoration: none; color:white"  href=""><div>Hotel Epikk</div></a>
          </div> 
        
          <div class="col-md-4" style="font-size: smaller;">
            <h6>Blog Post</h6>
            <div>The Ultimate Packing List For Female Travelers</div>
            <div>How These 5 People Found The Path to Their Dream Trip</div>
            <div>A Definitive Guide to the Best Dining and Drinking Venues in the City</div>
          </div>
        
          <div class="col-md-3" style="font-size: smaller;">
            <h6>Contact Information</h6>
            <div>Address: Mumbai</div>
            <div><a href="mailto:mrsculture.offical@gmail.com" style="text-decoration: none; color: white;">mrsculture.offical@gmail.com</a></div>
            <div><a href="tel:+919310521020"></a>+919310521020</div>
            <div class="footer-copyright text-center " style="margin-left: -190px">@ 2023 copyright:
              <a href="home">mrsculture</a>
              <p style="text-align: center;">| All rights reserved I</p> 
            </div>
          
          </div>
        </div>
      </div>
      
      
    
    </footer>

  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
